<h1>challenges</h1>
<p>Tijd voor iets actiefs! Terwijl je de de voorbije weken kon genieten van je verassingen zonder zelf veel te moeten doen is het nu tijd om challenges te doen. Probeer er zoveel mogelijk te voltooien, wie weet kan dit in jouw voordeel zijn. Je hoeft ze niet allemaal deze week doen, maar als je ze gaat uitstellen dan zal je daar zeker geen tijd meer voor hebben :) Je wilt toch de rest van de verassingen krijgen?</p>

<mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>done</mat-icon>  Ga naar Zweden </mat-card-title>
      <mat-card-subtitle>Voorbeeld</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Zorg ervoor dat je niet doodgaat terwijl je deze opdracht volbrengt
    </mat-card-content>
</mat-card> 

<mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>dangerous</mat-icon>  Natoer </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Neem een foto van het mooie landschap van Zweden
    </mat-card-content>
</mat-card> 
<mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>done</mat-icon>  Biiiiiieeeeer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Zoek een belgisch biertje en drink ze op
    </mat-card-content>
</mat-card> 


<mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>dangerous</mat-icon>  Geld moet rollen </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Koop een cadeautje voor Thijs (Hierbij moeten we niet vermelden van wie deze opdracht komt? n.v.d.r)
    </mat-card-content>
</mat-card> 
<mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>dangerous</mat-icon>  Woef </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Neem een foto met een mooie hond
    </mat-card-content>
</mat-card> 


<mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>dangerous</mat-icon>  Relax </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Trek een foto van je lievelingsplek
    </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>dangerous</mat-icon>  Integratie </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Zing het zweedse volkslied
    </mat-card-content>
</mat-card>